@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

header .main-menu {
  list-style: none;
}

header .main-menu li {
  display: inline-block;
  padding: 20px;
  background-color: lightblue;
}

header .main-menu li a {
  color: black;
}

