main {
    padding: 60px 40px;
    .cards {
        display: flex;
        flex-wrap: wrap;
        .card {
            flex-basis: calc(100% / 3 - 40px);
            position: relative;
            margin: 20px;
            overflow: hidden;
            border-radius: 10px;
            @media screen and (max-width: 992px) {

                flex-basis: calc(100% / 2 - 40px);

            }
            @media screen and (max-width: 600px) {

                flex-basis: calc(100% - 40px);

            }
            &:hover {
                    .card-link {
                        height: 100%;
                        width: 100%;
                        opacity: 1;
                        background-color: rgba(0, 25, 66, 0.5);
                    }
                    img {
                        transform: scale(1.1);
                    }
                }
                img {
                    display: block;
                    width: 100%;
                    transition-duration: 0.3s;
                }
                .card-link {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    text-align: center;
                    h3 {
                        margin: 40px;
                        a {
                            color: #fff;
                        }
                    }
                }
        }
    }


}
